.navbar-custom {
  background-color: #073256;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-weight: bold;
}

.navbar-custom .dropdown-toggle,
.navbar-custom .dropdown-toggle:hover,
.navbar-custom .dropdown-toggle:focus,
.navbar-custom .btn-secondary:focus{
  background-color: #D12A22 !important;
  font-weight: bold;
}
