.navbar-custom {
  background-color: #073256;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-weight: bold;
}

.navbar-custom .dropdown-toggle,
.navbar-custom .dropdown-toggle:hover,
.navbar-custom .dropdown-toggle:focus,
.navbar-custom .btn-secondary:focus{
  background-color: #D12A22 !important;
  font-weight: bold;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
