/* map sizing */
#fire_danger_map { width: 700px;
         height: 500px; }

/* custom background color for navbar */
.navbar-custom {
  background-color: #073256;  /* Calfire Blue */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-weight: bold;
}

/* Resources dropdown styleling */
.navbar-custom .dropdown-toggle,
.navbar-custom .dropdown-toggle:hover,
.navbar-custom .dropdown-toggle:focus,
.navbar-custom .btn-secondary:focus,
.navbar-custom .btn-custom{
  background-color: #073256 !important; /* CalFire Red */
  font-weight: bold;
  color: white;
  content: none !important;
}

/* Custom icon for the collapsable portion of the navbar */
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .nav-link {
  color: white;
  font-weight: bold;
}

* {
  font-family: Georgia;
}

/* legend CSS */
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
