_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_config.yml
404.html
about.markdown
Gemfile
Gemfile.lock
index.markdown
fire_danger_secrets.json
__pycache__
LA_PANZA.txt
LAS_TABLAS.txt
SAN_SIMEON.txt
SLO.txt
temp.xml
/xml
